chainlit==2.0.0
fastapi==0.115.6
google_api_python_client==2.157.0
google_auth_oauthlib==1.2.1
langchain==0.3.14
langchain_community==0.3.14
langchain_core==0.3.29
langchain_google_genai==2.0.8
langgraph==0.2.61
langserve==0.3.1
nest_asyncio==1.5.1
nest_asyncio==1.6.0
protobuf==5.29.2
pydantic==2.10.4
python-dotenv==1.0.1
Requests==2.32.3
tavily_python==0.5.0
typing_extensions==3.10.0.2
uvicorn==0.34.0
